---
import WhatsappIcon from "./icons/WhatsappIcon.astro";
import FacebookIcon from "./icons/FacebookIcon.astro";
import XIcon from "./icons/XIcon.astro";

const { shareUrl } = Astro.props;
const shareText = '¿Listo para una dosis de miedo? Esta imagen ahora es pura pesadilla visual. ¡Con un toque espeluznante cortesía de @cloudinary y su impresionante tecnología! %23cloudinary %23cloudcreate';
---

    <a 
    id="facebook"
    class="facebook social"
    href={`https://www.facebook.com/sharer/sharer.php?u=${shareUrl.replace('%20', '+').replace(' ', '+')}&t=${shareText}`}
    target="_blank"
    >
    <FacebookIcon />
</a>
<a id="whatsapp" href = {`whatsapp://send?text=${shareText + ' ' + shareUrl.replace('%20', '+').replace(' ', '+')}`} class="social">
    <WhatsappIcon />
</a>
<a 
href={`https://twitter.com/intent/tweet?&text=${shareText + ' ' + shareUrl.replace('%20', '+').replace(' ', '+')}`} 
id="twitter"
class="social" 
data-show-count="false"
>
<XIcon />
</a>


<style>
    #whatsapp:hover {
        background-color: #25d366;
    }

    #twitter:hover {
        background-color: #151515;
    }

    #facebook:hover {
        background-color: #3b5998;
    }

    div{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .social{
        width: 35px;
        height: 35px;
        padding: 5px;
        text-decoration: none;
        color: var(--text-color);
        background-color: var(--color-secondary-light);
        border-radius: 50%;
        transition: background-color 0.5s;
        

        svg{
            width: 100%;
            height: 100%;
        }
    }
</style>